// Font faces
$font-text-main: "Inter", prince-no-fallback !default;
$font-text-secondary: "Lora", prince-no-fallback !default;
$font-display-main: "Lora", prince-no-fallback !default;
$font-display-secondary: "Inter", prince-no-fallback !default;
