// Fonts

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("#{$path-to-root-directory}/assets/fonts/Inter-Regular.ttf") format("truetype"),
}

@font-face {
  font-family: 'Lora';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("#{$path-to-root-directory}/assets/fonts/Lora-Regular.ttf") format("truetype"),
}

@font-face {
  font-family: 'Lora';
  font-style:  italic;
  font-weight: 400;
  font-display: swap;
  src: url("#{$path-to-root-directory}/assets/fonts/Lora-Italic.ttf") format("truetype"),
}
