// Theme colours
$white: white;
$green: #74FF57;
$midnight: #000040;
$black: #000000;
$red: #FF4F3C;

// Tints and shades
$green-60pc: #BDFFAF;
$green-10pc: #F8FFF7;
$red-60pc: #FF958A;

// CYMK values for print output

@if $output-format == "print-pdf" {

    // Theme colours
    $example-blue: cmyk(80%, 20%, 0%, 20%) !default;

}
