@mixin secondary-page-number-style($color: $midnight) {
    color: $color;
    font-family: $font-display-secondary;
    font-size: $header-font-size;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}