.copyright-page {

    .copyright-page-stc-logo {
        margin-left: -$paragraph-indent;
        width: 6em;
    }
    .copyright-page-3kt-logo {
        display: inline-block;
        line-height: 1;
        margin: 0 0.25em -0.25em 0.25em;
        width: 1em;
    }
}
