h1 {
    color: $midnight;
    font-style: italic;
    margin-bottom: $line-height-default * 2;
    text-align: left;
}

h2 {
    color: $midnight;
    font-family: $font-display-secondary;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: $font-size-default;
    margin: ($line-height-default * 1.5) 0 ($line-height-default / 2) 0;

    body.reversed & {
        color: $white;
    }

    & + h3 {
        margin-top: 0;
    }
}

// Chapters that start with an image
.chapter-image-parent {
    float: right;
    margin-bottom: $line-height-default / 2;
    margin-left: $paragraph-indent / 2;
    max-width: 50%;
    text-indent: 0;

    img {
        max-width: 100%;
    }

    & + p {
        text-indent: 0;
    }
}

.leader-sentence {
    color: $midnight;
    font-size: 11pt;
    font-style: italic;

    & + p {
        margin-top: $line-height-default;
        text-indent: 0;
    }
}

.choices-section {
    margin-top: $line-height-default;
    break-inside: avoid;
}

.choice-question {
    font-style: italic;
    margin-bottom: $line-height-default;
    page-break-after: avoid;
    text-indent: 0;
}

.choice-options {
    list-style-type: none;

    li {
        font-family: $font-display-secondary;
        font-size: 8.5pt;
        font-weight: 300;
        margin: 0 0 ($line-height-default / 4) $paragraph-indent;

        &:last-child {
            margin-bottom: 0;
        }

        &::before {
            content: "\2022";
            content: url("#{$path-to-root-directory}/assets/images/#{$output-format}/donut.svg");
            width: 0.5em;
            float: left;
            margin-left: -1em;
            margin-top: 5pt; // align SVG
            font-weight: bold;
        }
    }
}

.closer-sentence {
    text-indent: 0;
    margin-top: $line-height-default;
}

.infobox {
    font-family: $font-display-secondary;
    font-size: 8pt;
    font-weight: 300;
    border: $rule-thickness solid $green;
    padding: ($line-height-default / 2) $paragraph-indent;
    // box-decoration-break: slice;

    position: relative;
    &::before {
        content: "i";
        color: white;
        background: $green;
        display: block;
        font-family: $font-text-main;
        font-size: 12pt;
        font-style: italic;
        font-weight: bold;
        left: -12pt;
        padding: 4pt;
        position: absolute;
        text-align: center;
        top: -($rule-thickness);
        width: 12pt;
    }
}

.valediction {
    text-indent: 0;
    margin-top: $line-height-default;
}

// Stories page

.story-list {

    li {

        a {

            strong:first-of-type {
                font-weight: normal;

                &::before {
                    content: "\2018";
                }
                &::after {
                    content: "\2019\0020 by ";
                }
            }
        }
    }
}

// Page refinement

.auto-hyphenate {
    hyphens: auto;
}
