// Show page numbers after links

@mixin turn-to-page($color: $red) {
    content: prince-script(turnToPage, target-counter(attr(href), page));
    font-family: $font-display-secondary;
    font-size: 7pt;
    text-transform: uppercase;
    letter-spacing: 0.075em;
    color: $color;
}

.choice-options a::after,
.part-page a::after,
.story-list a::after,
a.turn-to-page::after {
    @include turn-to-page();
}

.next-decade-link a::after,
a.read-more::after {
    @include turn-to-page($white);
    font-weight: bold;
}

a.show-page-number {
    &::after {
        // use prince-script to only insert this content if we're
        // not already on the same page as the target reference.
        content: prince-script(pagereference, counter(page), target-counter(attr(href), page));
    }
    &.no-brackets::after {
        content: prince-script(pagereferencePlain, counter(page), target-counter(attr(href), page));
    }
}

@page {

    @left {
        border-top: ($rule-thickness * 2) solid $midnight;
        margin-top: 4pt; // magic-number adjustment
        padding-top: $line-height-default / 2;
        margin-outside: -($bleed);
    }

    @right {
        border-top: ($rule-thickness * 2) solid $midnight;
        margin-top: 4pt; // magic-number adjustment
        padding-top: $line-height-default / 2;
        margin-outside: -($bleed);
    }

    // Not-the-last-page indicator
    @right-bottom {
        font-family: $font-display-secondary;
        color: $red;
    }
}
