$newspaper-page-margin: 15mm;

.newspaper {
    page: newspaper;
}

.story {
    page: story;
}

// Common newspaper and story elements
.newspaper,
.story {
    margin-top: -($margin-top + $bleed);

    .newspaper-header-wrapper {
        background-color: $midnight;
        padding-top: ($line-height-default * 1.5) + $bleed;
        padding-bottom: $line-height-default / 2;

        // Extend to page width
        margin-left: -($page-width);
        margin-right: -($page-width);
        padding-left: $page-width;
        padding-right: $page-width;

        .newspaper-header {
            position: relative;

            h1 {
                line-height: $line-height-default;
                font-size: 20pt;
                font-style: normal;
                width: 50%;
                color: $white;
                margin: 0;
            }

            // To do: change to more semantic element
            h2 {
                color: $white;
                font-family: $font-display-main;
                font-size: 10pt;
                font-style: normal;
                line-height: $line-height-default;
                width: 50%;
                margin: 0;
                text-transform: none;
                letter-spacing: 0;
            }

            p.newspaper-date {
                color: $white;
                font-size: 15pt;
                line-height: $line-height-default;
                text-align: right;
                position: absolute;
                bottom: 13pt; // align with 'The News'
                right: 0;
                width: 50%;

                strong {
                    font-weight: normal;
                }
            }
        }
    }

    .newspaper-trackers {
        border-bottom: $rule-thickness solid $black;
        font-family: $font-display-secondary;
        font-size: 7pt;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        line-height: $line-height-default / 2;
        padding-top: $line-height-default / 2;
        padding-bottom: $line-height-default / 2;

        // Extend to page edge
        margin-left: -($newspaper-page-margin + $bleed);
        margin-right: -($newspaper-page-margin + $bleed);
        padding-left: $newspaper-page-margin + $bleed;
        padding-right: $newspaper-page-margin + $bleed;

        .newspaper-trackers-head {
            color: $red;
            margin-bottom: $line-height-default / 4;
        }

        .newspaper-trackers-data {
            display: table;
            width: 100%;

            .newspaper-tracker-data {
                display: table-cell;

                &:nth-child(2) {
                    text-align: center;
                }
                &:nth-child(3) {
                    text-align: right;
                }

                .tracker-label {
                    color: $midnight;
                }

                .tracker-value {
                    color: $white;
                    background-color: $midnight;
                    border-radius: $button-border-radius;
                    font-weight: bold;
                    padding: 1pt 2pt;
                }
            }
        }

    }

    // Newspaper 'top article'
    #top-article {
        font-family: $font-display-secondary;
        font-size: 8pt;
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        line-height: ($line-height-default / 4) * 3;
        margin-bottom: $line-height-default / 4;
    }

    // Story runner
    .runner {
        border-bottom: $rule-thickness solid $red;
        font-family: $font-display-secondary;
        font-size: 10pt;
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        margin: $line-height-default 0 ($line-height-default / 2) 0;
    }

    .headline-image-parent {
        float: right;
        margin-bottom: $line-height-default / 2;
        margin-left: $paragraph-indent / 2;
        max-width: 50%;
        text-indent: 0;

        img {
            max-width: 100%;
        }

        // Wide images, via page refinement
        &.pdf-headline-image-wide-parent {
            float: none;
            max-width: 100%;
            margin-left: 0;
        }

        // Very tall images, via page refinement
        &.pdf-headline-image-narrow-parent {
            max-width: 25%;
        }
    }

    .headline,
    .newspaper-header-wrapper ~ h1 {
        color: $midnight;
        text-indent: 0;
        font-size: 14pt;
        font-style: italic;
        font-weight: normal;
        line-height: $line-height-default;
        margin: 0;

        // Use initial strong span for
        // standalone numbering or category
        // e.g. in obituary-for-capitalism
        strong:first-of-type {
            display: block;
            font-style: normal;
        }
    }

    .subheadline {
        color: $midnight;
        font-family: $font-display-secondary;
        text-indent: 0;
        font-size: 9.5pt;
        font-style: normal;
        line-height: $line-height-default;
        margin: ($line-height-default / 2) 0;

        // Some headlines are marked up as italic
        em {
            font-style: normal;

            em {
                font-style: italic;
            }
        }
    }

    .author {
        font-family: $font-display-secondary;
        text-indent: 0;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        color: $midnight;
        margin: ($line-height-default / 2) 0;

        & + p {
            text-indent: 0;
        }
    }

    #other-stories-today {
        border-bottom: $rule-thickness solid $red;
        clear: both;
        color: $midnight;
        font-family: $font-display-secondary;
        font-size: 8pt;
        font-weight: normal;
        letter-spacing: 0.05em;
        line-height: $line-height-default;
        margin: ($line-height-default / 2) 0;
        text-transform: uppercase;
    }

    .articles {
        break-inside: auto;
        columns: 2;
        column-gap: $paragraph-indent / 2;
        list-style-type: none;

        li {
            clear: both;
            display: table-row;
            font-family: $font-display-secondary;
            min-height: $line-height-default * 2;
            column-break-inside: avoid;
            page-break-inside: avoid; // this is a falback for column-break-inside in Prince

            // We cna only show 6 articles in print,
            // hide from 7th article onwards
            &:nth-child(n+7) {
                display: none;
            }

            img {
                display: table-cell;
                border: $rule-thickness solid $midnight;
                margin-right: $paragraph-indent / 2;
                height: $line-height-default * 2;
            }

            // JS creates this wrapper
            .article-text {
                display: table-cell;
                font-size: 7pt;
                line-height: 10pt;
                padding-bottom: $line-height-default / 2;
                vertical-align: top;
            }

            .read-more {
                background-color: $red;
                border-radius: $button-border-radius;
                color: $white;
                display: inline-block;
                font-weight: bold;
                line-height: 1;
                padding: 1pt 2pt;
            }

            &:first-of-type {
                page-break-after: auto;
            }
        }
    }

    .next-decade-link {
        font-family: $font-display-secondary;
        display: table;
        background-color: $red;
        color: $white;
        position: absolute;
        bottom: -($line-height-default * 2);
        height: $line-height-default * 2;
        margin-left: -($page-width);
        margin-right: -($page-width);
        padding-left: $page-width;
        padding-right: $page-width;
        text-indent: 0;

        a {
            display: table-cell;
            vertical-align: middle;
        }
    }

    // Transcript
    &.transcript {

        dt {
            font-family: $font-display-secondary;
            font-weight: normal;
            text-transform: uppercase;
            letter-spacing: 0.05em;
            font-size: 8pt;
        }

        dd {
            margin: 0 0 ($line-height-default / 2) 0
        }
    }
}

// Non-story newspaper overrides
.newspaper {

    .headline-image-parent {
        max-height: $line-height-default * 8;

        img {
            max-height: $line-height-default * 8;
        }
    }

    .next-decade-link {
        margin-left: -($newspaper-page-margin + $bleed);
        margin-right: -($newspaper-page-margin + $bleed);
        padding-left: $newspaper-page-margin + $bleed;
        padding-right: $newspaper-page-margin + $bleed;
        width: $page-width + ($bleed * 2);
    }
}

.quiz-question {
    font-family: $font-display-secondary;
    font-weight: bold;
    text-indent: 0;
    margin: ($line-height-default / 2) 0;
    page-break-after: avoid;
}

.quiz-options {
    list-style-type: upper-alpha;
    page-break-before: avoid;

    li {
        padding-left: $paragraph-indent / 2;

        &::marker {
            font-family: $font-display-secondary;
        }
    }
}

.quiz-result {
    text-indent: 0;
    margin-bottom: $line-height-default;

    strong:first-of-type {
        font-family: $font-display-secondary;
    }
}

.story-note {
    text-indent: 0;
    margin-top: $line-height-default;
}

.reddit {
    font-family: $font-display-secondary;
    widows: 1;
    orphans: 1;

    blockquote {
        padding: 0;
        margin-bottom: $line-height-default;

        h2 {
            font-family: $font-display-secondary;
            margin: ($line-height-default / 2) 0 $line-height-default 0;
        }
    }

    p {
        margin-bottom: $line-height-default / 2;

        & + p {
            text-indent: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .post-info {
        font-family: $font-display-secondary;
        font-size: 8pt;
    }

    .post {
        border-top: $rule-thickness solid $red;
        border-bottom: $rule-thickness solid $red;
        box-decoration-break: slice;
        padding: ($line-height-default / 2) 0;
    }

    .comment {

        p {
            border-left: $rule-thickness solid $red;
            padding-left: $paragraph-indent;

            &.username {
                font-style: italic;
                border-left: none;
                padding-left: 0;
                page-break-after: avoid;
                margin-bottom: 0;
            }
        }
    }
}

.interview-question {
    text-indent: 0;
    margin: $line-height-default 0;

    & + p {
        text-indent: 0;
    }
}

.story-info-line {
    font-family: $font-display-secondary;
    text-indent: 0;
    margin: ($line-height-default / 2) 0;

    & + p {
        text-indent: 0;
    }
}


// @page layouts

@mixin common-news-story-footer() {
    @bottom {
        content: "";
        background-color: $midnight;
        margin-top: $line-height-default * 2;
    }
    @bottom-left-corner {
        content: "";
        background-color: $midnight;
        margin-top: $line-height-default * 2;
    }
    @bottom-right-corner {
        content: "";
        background-color: $midnight;
        margin-top: $line-height-default * 2;
    }
}

@page newspaper {
    margin-inside: $newspaper-page-margin;
    margin-outside: $newspaper-page-margin;

    @include common-news-story-footer();
}

@page newspaper:left {
    @bottom-left-corner {
        @include secondary-page-number-style($white);
        content: counter(page);
    }
}

@page newspaper:right {
    @bottom-right-corner {
        @include secondary-page-number-style($white);
        content: counter(page);
    }
}

@page story {
    margin-inside: ($margin-inside + $margin-outside) / 2;
    margin-outside: ($margin-inside + $margin-outside) / 2;

    @include common-news-story-footer();
}

@page story:left {
    @bottom-left-corner {
        @include secondary-page-number-style($white);
        content: counter(page);
    }
}

@page story:right {
    @bottom-right-corner {
        @include secondary-page-number-style($white);
        content: counter(page);
    }
}
