.ending {
    page: ending;

    // Main image
    #content > p:first-of-type {
        height: $line-height-default * 11;
        margin: 0;
        text-align: center;

        img {
            height: $line-height-default * 11;
        }
    }

    h1 {
        color: $green;
        font-size: 14pt;
        font-style: italic;
        line-height: $line-height-default;
        margin: ($line-height-default * 1.5) 0 ($line-height-default / 2) 0;
        text-align: center;

        // A page-refinement hack for aligning
        // this heading with its counterpart on
        // the previous page.
        &.balance-with-opposite-page {
            padding-top: $line-height-default * 12.5;
        }
    }

    p {
        color: $white;
        text-align: center;
        orphans: 2;

        &.leader-sentence {
            font-style: normal;
        }

        & + p {
            text-indent: 0;
            margin-top: $line-height-default / 2;
        }
    }

    .call-to-action {
        font-family: $font-display-secondary;
        border: $rule-thickness solid $green;
        border-radius: $box-border-radius;
        left: 0;
        right: 0;
        height: $line-height-default * 4;
        padding-top: $line-height-default;
        margin-top: $line-height-default;
        page-break-before: avoid;

        // 'Turn to page' text
        a:after {
            color: inherit;
            font-weight: bold;
        }
    }

    &.dead {

        h1 {
            color: $red;
        }

        .call-to-action {
            background-color: $black;
            border: $rule-thickness solid $red;
            color: $red;
            font-weight: bold;

            // 'Turn to page' text
            a:after {
                color: $red;
                font-weight: bold;
                font-size: 8pt;
            }

            // Vertically center text,
            // since there is only one line
            padding: 0;

            p {
                line-height: $margin-bottom;
            }
        }
    }
}

.ending.dead {
    page: dead;
}

@page dead {
    background-color: $black;
    margin-inside: ($margin-inside + $margin-outside) / 2;
    margin-outside: ($margin-inside + $margin-outside) / 2;

    @bottom {
        @include secondary-page-number-style($white);
        content: counter(page);
    }
}

@page ending {
    background-color: $midnight;
    margin-inside: ($margin-inside + $margin-outside) / 2;
    margin-outside: ($margin-inside + $margin-outside) / 2;

    @bottom {
        @include secondary-page-number-style($white);
        content: counter(page);
    }
}
