.frontmatter,
.endmatter {

    // Override .chapter styles
    margin-top: 0;
    .glow-top {
        display: none;
    }

    #content {
        color: $midnight;
        min-height: 80vh;
    }

    h1, h2 {
        border-bottom: 1px solid $red;;
    }
    h1 {
        padding-bottom: 1rem;
    }
    h2 {
        padding-bottom: 0.5rem;
    }
    
    p {
        a {
            color: $midnight;
        }
    }
    
    // Book page
    .buy-the-book {
        display: grid;
        grid-template-columns: 66%;
        max-width: $max-width-default;
        margin: auto;
        
        p:not(.homepage-book-parent) {
            grid-column: 1 / 2;
        }
        
        .homepage-book-parent {
            grid-column: 2 / 3;
            height: 100%;
            img {
                margin: 0 auto;
                object-fit: contain;
                height: 100%;
            }
        }
    }

    // Stories

    &.stories {
        .glow-bottom {
            display: none;
        }
        .main-content {
            h1 {
                font-size: 2rem;
                margin-bottom: 0;
            }

            ul {
                margin: 0;
                margin-bottom: 2.5rem;
            }

            li {
                list-style-type: none;
                border-bottom: 1px $red solid;
                padding: 1.4rem 0 1.4rem 0;
            }

            li a {
                display: block;
                text-decoration: none;
                color: $midnight;
                // margin-top: 1rem;
                // margin-bottom: 0.8rem;
            }
        }
    }
}
