.footer-wrapper {
    width: 100%;
    border-top: 1px solid $midnight-60pc;
    padding-bottom: 2rem;

    .footer-top {
        display: flex;
        justify-content: space-between;
        padding: 0 1rem;
    }

    .footer-links, .footer-share {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;
    }

    .footer-links {
        max-width: 14rem;
        min-width: 10rem;
        margin-right: 1rem;
    }

    .footer-share {
        max-width: 13rem;
        min-width: 6rem;
        margin-left: 1rem;

        img {
            height: 1.5rem;
        }
    }

    .footer-logos {

        img {
            height: 1.5rem;
            display: block;
            margin: 0.5rem;
        }

        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;

        max-width: 29rem;
        margin: 2rem auto 0 auto;

        @media only screen and (min-width: $break-point-masthead) {
            & {
                margin-top: -2rem;
            }
        }

        // Rearrange logos to have the wide one below on narrow screens
        @media only screen and (max-width: $break-point-footer) {
            & {
                max-width: 100%;
                justify-content: center;
            }

            a {
                margin-left: 1rem;
                margin-right: 1rem; 
            }

            .icrlp-logo {
                order: 1;
            }
        }
    }
}

// Newspaper has hidden footer

.newspaper,
.story {
    #content:not(.no-next-decade-link) {
        & ~ .footer-wrapper {
            // Hide footer to make it easier to see next-decade-link
            display: none;
        }
    }
}

// Move up when the masthead is at the bottom

@media only screen and (max-width: $break-point-masthead) {
    .footer-wrapper {
        margin-bottom: $masthead-height;
    }
}
