.footer-wrapper {
    width: 100%;
    border-top: 1px solid $midnight-60pc;
    height: 9rem;
    
    .footer {
        max-width: $max-width-default;
        padding: 0;
        margin: 1.5rem auto;
    }

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        max-width: 95%;

        li {
            // reset template css
            display: list-item;
            margin: 0;
            padding: 0;
            &:after {
                content: none;
            }

            height: fit-content;
            height: -moz-fit-content;

            a {
                display: block;
            }
        }
    }

    .footer-logos {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 25% auto;
        max-width: 0.7 * $max-width-default;
        margin: auto;

        img:first-of-type {
            grid-column: 1 / 2;
            margin: 1rem;
        }
        img:last-of-type {
            grid-column: 2 / 3;
            margin: 1rem;
        }

        @media only screen and (max-width: $break-point-footer) {
            & {
                max-width: 100%;
            }
        }
    }
}

.newspaper .footer-wrapper,
.story .footer-wrapper {
    
    margin-bottom: $next-decade-link-height;
    &.no-next-decade-link {
        margin-bottom: 0;
    }

    @media only screen and (max-width: $break-point-masthead) {
        margin-bottom: 3rem + $masthead-height;
        &.no-next-decade-link {
            margin-bottom: $masthead-height;
        }
    }
}

@media only screen and (max-width: $break-point-masthead) {
    .footer-wrapper {
        margin-bottom: $masthead-height;
    }
}
