body, 
#wrapper,
.masthead,
.footer-wrapper {
    background-color: $midnight;
    color: $white;
    font-family: $font-text-main;
}

#content {
    padding: 0;
    margin: 0 auto;
}

.chapter {
    margin-top: 4.75rem;

    .glow-top,
    .glow-bottom {
        width: 100%;
        
        height: 6rem;
        opacity: 0.34;
    }

    .glow-top {
        background-image: linear-gradient($green, $midnight);
    }
    .glow-bottom {
        background-image: linear-gradient($midnight, $green);
    }
}

.part-page {
    margin-top: 4.75rem;

    .glow-top,
    .glow-bottom {
        width: 100%;
        
        height: 6rem;
        opacity: 0.34;
    }

    .glow-top {
        background-image: linear-gradient($red, $midnight);
    }
    .glow-bottom {
        background-image: linear-gradient($midnight, $red);
    }
}

.ending:not(.dead) {
    margin-top: 4.75rem;

    .glow-top,
    .glow-bottom {
        width: 100%; 
    }

    .glow-top {
        opacity: 0.48;
        height: 32rem;
        background-image: linear-gradient($green, $midnight);
    }
    .glow-bottom {
        opacity: 0.34;
        height: 6rem;
        background-image: linear-gradient($midnight, $green);
    }
}

.ending.dead {
    #wrapper, #content {
        background-color: $red;
        color: $white;
    }

    margin-top: 4.75rem;

    .glow-top {
        width: 100%; 
        height: 32rem;
        background-image: linear-gradient($midnight, $red);
    }

    .call-to-action {
        background-color: $midnight;
    }
}
