// Newspaper next decade footer

.next-decade-link {
    background-color: $red;
    // https://coderwall.com/p/hkgamw/creating-full-width-100-container-inside-fixed-width-container
    width: 100vw;
    position: fixed;
    margin-left: -50vw;
    left: 50%;
    bottom: 0;
    margin-bottom: 0;

    display: flex;
  
    @media only screen and (max-width: $break-point-masthead) {
        bottom: $masthead-height;
    }

    & a {
        width: 100%;
        padding: 0.8rem 0;
        text-align: center;

        display: flex;

        align-items: center;
        justify-content: center;

        img {
            height: 1.5rem;
            padding: 0 1rem;
        }
    }
}

// Newspaper "Read More" button

.read-more {
    margin-left: auto;
}

// Generic buttons

p.button {
    width: 12.5rem;
    height: fit-content;
    height: -moz-fit-content;
    display: flex;
    margin: auto;
    a {
        display: block;
        height: 100%;
        width: 100%;
        padding: 0.5rem 0;
    }
    // hover glow
    &.css-glow {
        box-shadow: 0 0 7px $red-60pc;
        a {
            background-color: $red;
        }
    }
    &.reverse-colours {
        margin-top: 1rem;
        a {
            background-color: inherit;
            border: 1px solid $red;
        }
    }
    &.underline {
        width: fit-content;
        width: -moz-fit-content;
        &.css-glow {
            box-shadow: none;
        }
        a {
            background-color: inherit;   
            margin: auto;
            color: $red;
            border-bottom: 2px solid $red;
        }
    }

    &.action-button {
        width: fit-content;
        width: -moz-fit-content;
        a {
            padding: 0.5rem;
        }
    }
}


.action-buttons {
    padding-bottom: 4rem;
    
    .round-action-buttons {
        display: flex;
        width: 18rem;
        justify-content: space-evenly;
        margin: 2rem auto 1.5rem auto;

        a {
            cursor: pointer;
            img {
                display: block;
                margin: auto;
            }
            p {
                margin-top: 0.5rem;
                text-align: center;
            }
        }

        .share-links.hidden {
            display: none;
        }

        // display the share options
        &.display-share {
            flex-direction: column;
            .share-links {
                margin-bottom: 1rem;
                p {
                    margin-bottom: 1rem;
                    width: 8rem;
                }
            }
        }
    }
}


button.copy-to-clipboard {
    border: none;
}
