.home {
    .logo,
    .dash {
        display: none;
    }

    img.homepage-logo  {
        background-image: radial-gradient(closest-side, $green-075-opacity, $midnight-075-opacity);
        background-size: cover;
        width: 75%;
        margin-bottom: 1rem;
    }

    .leader-sentence {
        margin-bottom: 2.3rem;
    }

    .hidden {
        display: none;
    }

    .play-buttons {
        margin-bottom: 6rem;
    }

    .below-the-fold {
        padding-top: 2rem;
        padding-bottom: 4.5rem;

        h1,
        p {
            max-width: $max-width-default;
            margin: auto;
        }

        h1 {
            padding-bottom: 0.5rem;
            margin-bottom: 0.5rem;
            border-bottom: 1px solid $midnight;
        }

        p {
            margin-bottom: 1rem;
        }

        a {
            color: $midnight;
        }
        
        .buy-the-book {
            display: grid;
            grid-template-columns: 66%;
            max-width: $max-width-default;
            margin: auto;
            
            p:not(.homepage-book-parent) {
                grid-column: 1 / 2;
            }
            
            .homepage-book-parent {
                grid-column: 2 / 3;
                height: 100%;
                img {
                    margin: 0 auto;
                    object-fit: contain;
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
}
