    <div class="footer-wrapper">
        <div class="footer-top">
            <div class="footer-links">
                <a href="{{ path-to-root-directory }}credits.html">Credits</a>
                <a href="{{ path-to-root-directory }}terms-of-service.html">T&amp;Cs</a>
                <a href="{{ path-to-root-directory }}privacy.html">Privacy</a>
            </div>
            <div class="footer-share">
                <a href="{{ path-to-root-directory }}contact.html" target="_blank">
                    <img src="../../assets/images/web/contact.svg" alt="Contact">
                </a>
                <a href="https://twitter.com/intent/tweet?url=https://survivethecentury.net/&text=You are the senior editor of the world's most popular and trusted news organization. Your choices will determine whether humanity will survive the 21st century. No pressure!" target="_blank">
                    <img src="../../assets/images/web/twitter.svg" alt="Share on Twitter">
                </a>
                <a href="https://www.facebook.com/sharer/sharer.php?u=https://survivethecentury.net/" target="_blank">
                    <img src="../../assets/images/web/facebook.svg" alt="Share on Facebook">
                </a>
            </div>
        </div>

        <div class="footer-logos">
            <a href="https://climaterisklab.com/" target="_blank">
                <img src="../../assets/images/web/crl-logo.png" alt="Logo">
            </a>
            <a href="https://www.american.edu/sis/centers/carbon-removal/" target="_blank" class="icrlp-logo">
                <img src="../../assets/images/web/icrlp-logo.svg" alt="Logo">
            </a>
            <a href="https://www.sesync.org/" target="_blank">
                <img src="../../assets/images/web/sesync-logo.png" alt="Logo">
            </a>
        </div>
    </div><!--#footer-->
