<div class="footer-wrapper">
    <div class="footer">
        <ul>
            <li>
                <a href="{{ path-to-root-directory }}book.html">Buy the book</a>
            </li>
            
            <li>
                <a href="{{ path-to-root-directory }}contact.html">Contact</a>
            </li>

            <li>
                <a href="{{ path-to-root-directory }}credits.html">Credits</a>
            </li>

            <li>
                <a href="{{ path-to-root-directory }}terms-of-service.html">T&amp;Cs</a>
            </li>

            <li>
                <a href="{{ path-to-root-directory }}privacy.html">Privacy</a>
            </li>
        </ul>
    </div>

    <div class="footer-logos">
        <a href="https://climaterisklab.com/" target="_blank">
            <img src="../../assets/images/web/crl-logo.png" alt="Logo" class="crl-logo">
        </a>
        <a href="https://www.sesync.org/" target="_blank">
            <img src="../../assets/images/web/sesync-logo.png" alt="Logo" class="sesync-logo">
        </a>
        <a href="https://www.american.edu/sis/centers/carbon-removal/" target="_blank">
            <img src="../../assets/images/web/icrlp-logo.svg" alt="Logo" class="icrlp-logo">
        </a>
    </div>
</div>
<!--#footer-->
