
<div class="masthead masthead-top">

    {% unless page.style contains "home" or page.style contains "frontmatter" or page.style contains "action" or page.style contains "dash-hidden" %}
    {% include dash %}
    {% endunless %}

</div>

<div class="masthead masthead-bottom">

    {% unless page.style contains "home" or page.style contains "frontmatter" or page.style contains "action"or page.style contains "dash-hidden" %}
    {% include logo %}
    {% endunless %}
    
    {% include nav %}

</div>
