# Set site.output == "print-pdf"
output: "print-pdf"
# Set site.image-set == "images/print-pdf"
image-set: "images/print-pdf"
# Turn off documentation
collections:
  docs:
    output: false
exclude:
  # The usual excludes from _config.yml
  - run-linux.sh
  - run-mac.command
  - run-windows.bat
  - Gemfile
  - Gemfile.lock
  - README*
  - LICENSE*
  - CHANGELOG*
  - node_modules
  - eslint.json
  - gulpfile.js
  - package.json
  - package-lock.json
  - CNAME

  # Included as-is in other files, no need to process
  - /assets/js/annotation.js
  - /assets/js/polyfills.js
  - /assets/js/utilities.js
  - /assets/js/settings.js
  - /assets/js/locales.js
  - /assets/js/setup.js
  - /assets/js/mark-parents.js
  - /assets/js/mark.min.js
  - /assets/js/redact.js
  - /assets/js/search-store.js
  - /assets/js/search-terms.js
  - /assets/js/nav.js
  - /assets/js/videos.js
  - /assets/js/mcqs.js
  - /assets/js/select-list.js
  - /assets/js/tables.js
  - /assets/js/footnote-popups.js
  - /assets/js/show-hide.js
  - /assets/js/elasticlunr.min.js
  - /assets/js/elasticlunr-setup.js
  - /assets/js/svg-management.js
  - /assets/js/svg-inject.min.js
  - /assets/js/lazyload.js
  - /assets/js/accordion.js
  - /assets/js/heading-titles.js
  - /assets/js/rotate.js
  - /assets/js/footnotes.js
  - /assets/js/shift-elements.js
  - /assets/js/page-reference.js
  - /assets/js/bookmarks.js

  # Exclude files we don't need for print-pdf
  - search*
  - index*
  - /assets/styles
  - /assets/*.jpg
  - /assets/js/accordion.js
  - /assets/js/annotation.js
  - /assets/js/elasticlunr-setup.js
  - /assets/js/elasticlunr.min.js
  - /assets/js/mark.min.js
  - /assets/js/mcqs.js
  - /assets/js/nav.js
  - /assets/js/render-search-index.js
  - /assets/js/search-engine.js
  - /assets/js/search-index.js
  - /assets/js/search-results.js
  - /assets/js/search-store.js
  - /assets/js/search-terms.js
  - /assets/js/videos.js
  - /*/package.opf
  - /*/toc.ncx
  - /*/styles/screen-pdf.scss
  - /*/styles/web.scss
  - /*/styles/epub.scss
  - /*/styles/app.scss
  - /*/index.md
  - /*/images/screen-pdf
  - /*/images/web
  - /*/images/epub
  - /*/images/app

# Temporarily exclude these and keep_files them below
# for faster builds where you don't need to refresh these.
  # - /assets/fonts
  # - /book/fonts
  # - /book/styles

  # Page types
  # - /book/text/0*
  # - /book/text/frontmatter*
  # - /book/text/chapter*
  # - /book/text/part-page*
  # - /book/text/newspaper*
  # - /book/text/story*
  # - /book/text/ending*
  # - /book/text/take-action*
  # - /book/text/stories*
  # - /book/text/endmatter*

  # Files

  # - Non-print-book files
  - about.md
  - contact.md
  - credits.md
  - press.md
  - privacy.md
  - terms-of-service.md
  - /book/text/0-3-contact.md
  - /book/text/0-4-privacy.md
  - /book/text/0-5-terms-of-service.md

  # Utility pages
  - /book/text/link-list.md
  - /book/text/stc.md

  # - /book/text/0-0-cover.md
  # - /book/text/0-1-titlepage.md
  # - /book/text/0-2-copyright.md
  # - /book/text/frontmatter_praise.md
  # - /book/text/frontmatter_how-to-play.md
  # - /book/text/frontmatter_contents.md
  # - /book/text/chapter_welcome-to-2021.md
  # - /book/text/chapter_1-5-degree-shocks.md
  # - /book/text/chapter_2-5-degree-shocks.md
  # - /book/text/chapter_3-degree-shocks.md
  # - /book/text/chapter_alarm.md
  # - /book/text/chapter_arctic-extraction.md
  # - /book/text/chapter_armistice.md
  # - /book/text/chapter_bail-out-existing-businesses.md
  # - /book/text/chapter_billionaire-ecotopia-takeover.md
  # - /book/text/chapter_billionaire-geo-engineering.md
  # - /book/text/chapter_billionaires-get-richer.md
  # - /book/text/chapter_birth-rates-plunge.md
  # - /book/text/chapter_carbon-capture-0.md
  # - /book/text/chapter_carbon-capture-1.md
  # - /book/text/chapter_central-world-government.md
  # - /book/text/chapter_city-led-capitalist-reform.md
  # - /book/text/chapter_city-led-decarbonization.md
  # - /book/text/chapter_civil-war-version.md
  # - /book/text/chapter_climate-domes.md
  # - /book/text/chapter_climate-hacks-in-conflict.md
  # - /book/text/chapter_corporate-colonialism.md
  # - /book/text/chapter_corporate-forests.md
  # - /book/text/chapter_corporate-housing.md
  # - /book/text/chapter_corporate-orange-zones.md
  # - /book/text/chapter_death-cults.md
  # - /book/text/chapter_democratic-takeover.md
  # - /book/text/chapter_desperation.md
  # - /book/text/chapter_desperate-hack.md
  # - /book/text/chapter_disband-the-militaries-no.md
  # - /book/text/chapter_disband-the-militaries-yes.md
  # - /book/text/chapter_earth-terraforming.md
  # - /book/text/chapter_easier-climate-conference.md
  # - /book/text/chapter_eco-mitigation.md
  # - /book/text/chapter_ecocide.md
  # - /book/text/chapter_ecological-technocrats.md
  # - /book/text/chapter_emissions-accounting-argument.md
  # - /book/text/chapter_employment-as-citizenship.md
  # - /book/text/chapter_engineered-crop-blight.md
  # - /book/text/chapter_experimental-orange-zones.md
  # - /book/text/chapter_faffing.md
  # - /book/text/chapter_fail-to-invent-insect-drones.md
  # - /book/text/chapter_fair-vaccine-distribution.md
  # - /book/text/chapter_fast-economic-recovery.md
  # - /book/text/chapter_fossil-fuelled-development.md
  # - /book/text/chapter_fracking-funded-ubi.md
  # - /book/text/chapter_gains-reversed.md
  # - /book/text/chapter_gender-strongmen.md
  # - /book/text/chapter_geo-engineering-attempt.md
  # - /book/text/chapter_geo-engineering-fail.md
  # - /book/text/chapter_ghw.md
  # - /book/text/chapter_global-climate-adaptation-fund.md
  # - /book/text/chapter_global-climate-council.md
  # - /book/text/chapter_global-climate-fund.md
  # - /book/text/chapter_global-south-strike.md
  # - /book/text/chapter_global-south-uprising-and-climate-wars.md
  # - /book/text/chapter_global-south-uprising-and-slow-fade.md
  # - /book/text/chapter_goodbye-reproductive-rights.md
  # - /book/text/chapter_grassroots-climate-rebellion.md
  # - /book/text/chapter_grassroots-inequality-rebellion.md
  # - /book/text/chapter_green-is-the-new-gold.md
  # - /book/text/chapter_green-is-the-new-gold-fracking.md
  # - /book/text/chapter_green-new-deal.md
  # - /book/text/chapter_hackers-attack-space-fleet.md
  # - /book/text/chapter_high-tech-1-5-mitigation.md
  # - /book/text/chapter_human-capital.md
  # - /book/text/chapter_ignored.md
  # - /book/text/chapter_increasing-densification.md
  # - /book/text/chapter_invent-insect-drones.md
  # - /book/text/chapter_invest-in-social-care.md
  # - /book/text/chapter_last-ditch-geo-engineering.md
  # - /book/text/chapter_late-stage-designer-planet.md
  # - /book/text/chapter_late-stage-geo-engineering.md
  # - /book/text/chapter_later-global-south-strike.md
  # - /book/text/chapter_local-communities.md
  # - /book/text/chapter_local-conflicts.md
  # - /book/text/chapter_looser-regulations.md
  # - /book/text/chapter_lucky-procrastinator.md
  # - /book/text/chapter_magic-technology-fix.md
  # - /book/text/chapter_mars-mission.md
  # - /book/text/chapter_martians-return.md
  # - /book/text/chapter_migratory-cities.md
  # - /book/text/chapter_miscalculation.md
  # - /book/text/chapter_monocorp-cities.md
  # - /book/text/chapter_muskbucks.md
  # - /book/text/chapter_no-magic-technology.md
  # - /book/text/chapter_nukes.md
  # - /book/text/chapter_orange-zones.md
  # - /book/text/chapter_patchwork-of-solutions.md
  # - /book/text/chapter_pay-for-transition.md
  # - /book/text/chapter_people-get-richer.md
  # - /book/text/chapter_permanent-refugee-camps.md
  # - /book/text/chapter_post-war-devastation.md
  # - /book/text/chapter_quash-terrorists-no.md
  # - /book/text/chapter_quash-terrorists-yes.md
  # - /book/text/chapter_red-zones.md
  # - /book/text/chapter_reform-capitalism.md
  # - /book/text/chapter_refugee-conflict.md
  # - /book/text/chapter_refugee-crisis-and-billionaire-world.md
  # - /book/text/chapter_refugee-crisis-and-climate-war-world.md
  # - /book/text/chapter_refugee-crisis-and-designer-world.md
  # - /book/text/chapter_refugee-crisis-and-resilient-world.md
  # - /book/text/chapter_refugee-crisis-and-slow-fade-world.md
  # - /book/text/chapter_rewild.md
  # - /book/text/chapter_rogue-climate-hackers.md
  # - /book/text/chapter_seething-underclass.md
  # - /book/text/chapter_sexual-revolution.md
  # - /book/text/chapter_slow-down.md
  # - /book/text/chapter_slow-economic-recovery.md
  # - /book/text/chapter_slow-economic-recovery-billionaires.md
  # - /book/text/chapter_slow-economic-recovery-slowfade.md
  # - /book/text/chapter_slow-economic-recovery-wars.md
  # - /book/text/chapter_small-scale-conflict.md
  # - /book/text/chapter_small-scale-wars.md
  # - /book/text/chapter_stalling.md
  # - /book/text/chapter_state-led-decarbonization.md
  # - /book/text/chapter_strongmen.md
  # - /book/text/chapter_sudden-warming.md
  # - /book/text/chapter_surprising-success-geo-engineering.md
  # - /book/text/chapter_termination-shock.md
  # - /book/text/chapter_termination-shock-mars.md
  # - /book/text/chapter_termination-shock-roguestates.md
  # - /book/text/chapter_thats-a-chinese-land-grab.md
  # - /book/text/chapter_the-end-of-nation-states.md
  # - /book/text/chapter_the-wars-begin.md
  # - /book/text/chapter_transitional-fracking.md
  # - /book/text/chapter_ubi.md
  # - /book/text/chapter_undermine-grassroots-rebellion-hooligans.md
  # - /book/text/chapter_undermine-grassroots-rebellion-war.md
  # - /book/text/chapter_unilateral-geo-engineering.md
  # - /book/text/chapter_volcanic-eruption.md
  # - /book/text/chapter_war-over-orange-zones.md
  # - /book/text/chapter_weak-reforms.md
  # - /book/text/chapter_well-researched-geo-engineering.md
  # - /book/text/chapter_well-researched-geo-engineering-attempt.md
  # - /book/text/chapter_who-looks-after-the-wild.md
  # - /book/text/chapter_world-trade-is-in-tatters.md
  # - /book/text/chapter_zoonotic-pandemic.md
  # - /book/text/ending_2100-billionaire-ecotopia.md
  # - /book/text/ending_2100-billionaire-saviours.md
  # - /book/text/ending_2100-climate-wars.md
  # - /book/text/ending_2100-designer-planet.md
  # - /book/text/ending_2100-ecotopia.md
  # - /book/text/ending_2100-slow-fade.md
  # - /book/text/ending_dead.md
  # - /book/text/newspaper_welcome-to-2030-billionaire-saviours.md
  # - /book/text/newspaper_welcome-to-2030-climate-wars.md
  # - /book/text/newspaper_welcome-to-2030-designer-planet.md
  # - /book/text/newspaper_welcome-to-2030-ecotopia.md
  # - /book/text/newspaper_welcome-to-2030-slow-fade.md
  # - /book/text/newspaper_welcome-to-2040-billionaire-saviours.md
  # - /book/text/newspaper_welcome-to-2040-climate-wars.md
  # - /book/text/newspaper_welcome-to-2040-designer-planet.md
  # - /book/text/newspaper_welcome-to-2040-ecotopia.md
  # - /book/text/newspaper_welcome-to-2040-slow-fade.md
  # - /book/text/newspaper_welcome-to-2050-billionaire-saviours.md
  # - /book/text/newspaper_welcome-to-2050-climate-wars.md
  # - /book/text/newspaper_welcome-to-2050-designer-planet.md
  # - /book/text/newspaper_welcome-to-2050-ecotopia.md
  # - /book/text/newspaper_welcome-to-2050-slow-fade.md
  # - /book/text/newspaper_welcome-to-2060-billionaire-saviours.md
  # - /book/text/newspaper_welcome-to-2060-climate-wars.md
  # - /book/text/newspaper_welcome-to-2060-designer-planet.md
  # - /book/text/newspaper_welcome-to-2060-ecotopia.md
  # - /book/text/newspaper_welcome-to-2060-slow-fade.md
  # - /book/text/newspaper_welcome-to-2070-billionaire-saviours.md
  # - /book/text/newspaper_welcome-to-2070-climate-wars.md
  # - /book/text/newspaper_welcome-to-2070-designer-planet.md
  # - /book/text/newspaper_welcome-to-2070-ecotopia.md
  # - /book/text/newspaper_welcome-to-2070-slow-fade.md
  # - /book/text/newspaper_welcome-to-2080-billionaire-saviours.md
  # - /book/text/newspaper_welcome-to-2080-climate-wars.md
  # - /book/text/newspaper_welcome-to-2080-designer-planet.md
  # - /book/text/newspaper_welcome-to-2080-ecotopia.md
  # - /book/text/newspaper_welcome-to-2080-slow-fade.md
  # - /book/text/newspaper_welcome-to-2090-billionaire-ecotopia-takeover.md
  # - /book/text/newspaper_welcome-to-2090-billionaire-saviours.md
  # - /book/text/newspaper_welcome-to-2090-climate-wars.md
  # - /book/text/newspaper_welcome-to-2090-designer-planet.md
  # - /book/text/newspaper_welcome-to-2090-ecotopia.md
  # - /book/text/newspaper_welcome-to-2090-slow-fade-conflict.md
  # - /book/text/newspaper_welcome-to-2090-slow-fade-migration.md
  # - /book/text/part-page_2030*
  # - /book/text/part-page_2040*
  # - /book/text/part-page_2050*
  # - /book/text/part-page_2060*
  # - /book/text/part-page_2070*
  # - /book/text/part-page_2080*
  # - /book/text/part-page_2090*
  # - /book/text/stories.md
  # - /book/text/story_blue-queen-of-dc.md
  # - /book/text/story_exile-nation.md
  # - /book/text/story_fashion-week.md
  # - /book/text/story_gipss.md
  # - /book/text/story_green-mall-review.md
  # - /book/text/story_leaked-transcript.md
  # - /book/text/story_lena-lenin.md
  # - /book/text/story_mass-abductions.md
  # - /book/text/story_matrimony.md
  # - /book/text/story_meat-raid.md
  # - /book/text/story_obituary-for-capitalism.md
  # - /book/text/story_reddit.md
  # - /book/text/story_snow-day.md
  # - /book/text/story_statement-from-womb-riot.md
  # - /book/text/story_tate-twilight.md
  # - /book/text/story_trouble-in-paradys.md
  # - /book/text/story_vaccine-queen.md
  # - /book/text/story_your-ticket-to-mars.md
  # - /book/text/endmatter_about.md
  # - /book/text/endmatter_credits.md
  # - /book/text/endmatter_discussion-questions.md
  # - /book/text/endmatter_group-reading.md
  # - /book/text/endmatter_recommended-resources.md
  # - /book/text/endmatter_shiny-badges.md
  # - /book/text/endmatter_trackers.md
  # - /book/text/take-action.md

# Populate the keep_files list for temporary faster builds
# or to keep previously generated files for other formats.
keep_files:
  # - assets/fonts
  # - book/fonts
  # - book/styles
